aiopg==1.0.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
cffi==1.14.0
cursor==1.3.4
google==2.0.3
greenlet==0.4.15
Jinja2==2.11.3
Markdown==3.2.1
markdown2==2.3.8
MarkupSafe==1.1.1
mongokit-py3==0.9.1.1
peewee==3.13.2
pkg-resources==0.0.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
pycparser==2.20
pymongo==3.10.1
PyMySQL==0.9.3
python-dotenv==0.12.0
six==1.14.0
soupsieve==2.0
tormysql==0.4.2
tornado==6.0.4
validate-email-address==1
